<section class="news-ticker-pagination-device" id="ntpd{{sender.id}}">
	<ul class="inline-list">
		<li class="previous disabled"><span class="previous-icon"></span>{{sender.previousLinkText}}</li>
		{{#each sender.items}}
			<li class="link {{#firstIteration @index}}selected{{/firstIteration}}" data-indexnumber="{{@index}}">{{indexNumber @index}}</li>
		{{/each}}
		<li class="next"><span class="next-icon"></span>{{sender.nextLinkText}}</li>
	</ul>
</section>